@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Server Side React with Episerver</title>
</head>
<body>
    
@RenderBody()

<!-- Load all required scripts (React + the site's scripts) -->
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
@Scripts.Render("~/bundles/main")
<!-- Render the code to initialise the component -->
@Html.ReactInitJavaScript()
</body>
</html>
